.ax_default {
    font-family: "Arial Обычный", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: normal;
    color: rgb(51, 51, 51);
    text-align: center;
    line-height: normal;
    text-transform: none;
}

.box_1 {}

.box_2 {}

.ellipse {
    background-color: #169bd591;
    border-radius: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em 7em;
}

.image {}

.primary_button {
    color: rgb(255, 255, 255);
}

.heading_1 {
    font-family: "Arial Обычный", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
    text-align: left;
}

.heading_2 {
    font-family: "Arial Обычный", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    text-align: left;
}

.heading_3 {
    font-family: "Arial Обычный", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    text-align: left;
}

.heading_4 {
    font-family: "Arial Обычный", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    text-align: left;
}

.heading_5 {
    font-family: "Arial Обычный", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: left;
}

.heading_6 {
    font-family: "Arial Обычный", Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 10px;
    text-align: left;
}

.label {
    font-size: 14px;
    text-align: left;
}

.paragraph {
    text-align: left;
}

.text_field {
    color: rgb(0, 0, 0);
    text-align: left;
}

.form_hint {
    color: rgb(153, 153, 153);
}

.form_disabled {}

.icon {
    font-size: 2em;
    color: #7cb2ca;
}

.icon_cicle {
    font-size: 4em;
    color: white;
}

textarea,
select,
input,
button {
    outline: none;
}